* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    margin: auto 200px;
}

.box {
    position: relative;
    float: left;
    width: 450px;
    height: 100vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
}

.img-first {
    position: absolute;
    left: 50px;
    top: 35px;
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.img-second {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 370px;
    height: 270px;
    object-fit: cover;
}

h1 {
    position: absolute;
    bottom: 290px;
    left: 20px;
    font-size: 22px;
    font-weight: 600;
}

p {
    position: absolute;
    bottom: 270px;
    left: 20px;
    font-size: 15px;
    font-weight: 300;
}

h3 {
    position: absolute;
    bottom: 240px;
    left: 20px;
    font-size: 15px;
    color: #b12704;
    font-weight: 400;
}

ul {
    position: absolute;
    bottom: 80px;
    left: 20px;
    height: 150px;
    width: 400px;
    padding: 15px;
    list-style: none;
    font-size: 15px;
    background-color: #ebebeb;
    font-weight: 400;
}

.link-first {
    position: absolute;
    bottom: 50px;
    left: 20px;
    text-decoration: none;
    color: #853ae0;
    font-weight: 600;
}

.link-second {
    position: absolute;
    bottom: 50px;
    left: 60px;
    text-decoration: none;
    color: #853ae0;
    font-weight: 600;
}

.for-link {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 12px;
    color: black;
    font-weight: 300;
}